<H1> Airbnb Review Analytics </H1>

Text analytics over the airbnb listings over the city of NYC.

# Imports and Loading the data

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
listings_df = pd.read_csv("/content/listings.csv")
reviews_df = pd.read_csv("/content/reviews.csv")

In [ ]:
listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,49,2022-06-21,0.27,3,365,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.0,30,195,2024-10-05,1.03,1,196,4,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05,0.03,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,70.0,30,251,2024-12-01,1.36,1,8,5,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.71248,-73.95881,Private room,NaN,30,13,2022-09-12,0.07,2,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37779,1322024128476576885,"The Gem of Riverdale, NYC!",35391290,Oscar,Bronx,Kingsbridge,40.88178,-73.89973,Entire home/apt,159.0,30,0,NaN,NaN,3,365,0,NaN
37780,1322305006441883773,Amazing 1BR & 1BTH,504878421,Karan,Manhattan,Financial District,40.70610,-74.00666,Entire home/apt,199.0,30,0,NaN,NaN,3,306,0,NaN
37781,1322523395081457963,Home Share w/ Young Professionals - 2/3/4/5 Tr...,2822805,Olivier,Brooklyn,Crown Heights,40.67013,-73.95874,Private room,99.0,30,0,NaN,NaN,21,65,0,NaN
37782,1322561224337225530,Bedroom for rent in two bedroom UWS apartment,666385153,Kiana Elizabeth,Manhattan,Upper West Side,40.79655,-73.97462,Private room,131.0,30,0,NaN,NaN,1,83,0,NaN
37783,1322667742043410903,Bright room with in-buildingÂ washer/dryer-394,41475188,Tatiana,Brooklyn,Crown Heights,40.67469,-73.95346,Private room,47.0,30,0,NaN,NaN,13,336,0,NaN

In [ ]:
reviews_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre sÃ©jour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...
...,...,...,...,...,...,...
969481,1295054021439479562,1318207836791174950,2024-12-23,485243180,Vennela,The place was amazing! Great location and area...
969482,1295058207773420592,1302324242336666111,2024-12-01,368726917,Veronica,This was the perfect stay for our trip. Margar...
969483,1295058207773420592,1305143295960134335,2024-12-05,431518239,Rudy,â¦.lugar increÃ­ble me sentÃ­ como en casa
969484,1295058207773420592,1309605174750125344,2024-12-11,26420925,Tara,We loved this place and would stay again. Our...
969485,1295058207773420592,1313938907016779168,2024-12-17,475053811,Kately,Great place to stay at definitely would stay t...

In [ ]:
listings_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [ ]:
neighboorhoods_df = pd.read_csv("/content/neighbourhoods.csv")

In [ ]:
neighboorhoods_df.columns

Index(['neighbourhood_group', 'neighbourhood'], dtype='object')

# Exploratory Data Analysis

# Preprocessing the Text

# Feature Engineering